# Essenciais do Django e API
django
djangorestframework
djangorestframework-simplejwt

# Conector do Banco de Dados (PostgreSQL)
psycopg2-binary

# Para gerar Excel e PDF (adicionados pela equipa)
openpyxl 
reportlab 

# Para CORS (comunicação entre Front e Back)
django-cors-headers

# Outras dependências úteis
python-dotenv